<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Star</title>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <script src="lib/requirejs/require.js" data-main="js/main.js"></script>
</head>
<body>
<div ng-controller="InputController">
<button type="button" class="btn btn-primary" ng-click="do()">Search</button>
<button type="button" class="btn btn-primary" ng-click="create()">Create</button>
    <input type="text" ng-model="myText" />
</div>
</body>
</html>
