<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Star</title>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <script src="lib/requirejs/require.js" data-main="js/main.js"></script>
</head>
<body>
<div ng-controller="InputController">
    <input ng-model="searchText" type="hidden" id="e5" style="width: 300px;" ui-select2="select2Options">
        <button type="button" class="btn btn-primary" ng-click="do()">Search</button>

    <div ng-show="obj.result">
        <div class="col-md-12">
            <div class="row"> {{obj.result}}</div>
        </div>
    </div>
</div>
</body>
</html>
